{{ define "head" }}
	{{ partial "head" . }}

	<style>
		@media (prefers-color-scheme: light) {
			:root {
				--header-text: #000;
			}
		}
			
		#page-title {
			margin: -50px 0 50px 0;
			color: var(--normal-font);
		}
			
		#main {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 100px;
		}

		.entry-container {
			width: 550px;
			text-align: center;
		}
		.entry-container a {
			scroll-margin-top: -300px;
			text-decoration: none;
			color: var(--normal-font);
		}

		.img-container {
			width: 100%;
			height: 350px;
			overflow: clip;
			
		}
		.img-container img {
			width: inherit;
			height: inherit;
			padding: initial;
			object-fit: cover;
		}
	</style>

{{ end }}

{{ define "main" }}
	<section id="content">
		<h2 id="page-title">Resources</h2>	
		<div id="main">
			{{ range .Paginator.Pages.ByPublishDate.Reverse }}
				<div class="entry-container">
					<a href="{{if .Params.redirectURL}}{{.Params.redirectURL}}{{else}}{{ .Permalink }}{{end}}">
						<div class="img-container">
							<img src="{{ .Params.cover_image }}" alt="">
						</div>
						<h3>{{ .Title }}</h3>
						<p>{{ .Summary }}</p>
					</a>
				</div>
			{{ end }}
		</div>

		<div id="paginator-nav">
			{{ if .Paginator.HasNext }}
				<a id="paginate-next" href="{{ .Paginator.Next.URL }}">Older Posts ⟶</a>
			{{ end }}
			{{ if .Paginator.HasPrev }}
				<a id="paginate-prev" href="{{ .Paginator.Prev.URL }}">⟵ Newer Posts</a>
			{{ end }}
		</div>
	</section>
{{ end }}