{{ define "head" }}
  {{ partial "head.html" . }}
  
	<meta name="description" content="{{ .Summary }}">
	<meta name="og:image" content="{{ .Params.cover_image }}">
  
	<style>
		@media (prefers-color-scheme: light) {
			:root {
				--header-text: #000;
			}
		}

		#content {
			width: min(900px, 90%);
		}
	</style>
{{ end }}

{{ define "main" }}
	<article id="content" data-pagefind-body>
		<h2 id="page-title">{{ .Title }}</h2>
		{{ .Content }}
	</article>
{{ end }}