---
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<p>Hello World</p>

{% for p in site.pages %}
  <h2>
    <a href="{{ p.url }}">
      {{ p.name }}
    </a>
  </h2>
{% endfor %}

<ul>
{% for col in site.collections %}
  <li><b>{{ col.label }}</b>
  <ul>
  {% for post in col %}
        <h2><a href="{{ post.url }}">{{ post.name }}</a></h2>
      <p>{{ post.excerpt }}</p>
  {% endfor %}
  </ul>
  </li>
{% endfor %}
</ul>