@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
@import url("search.css");
@import url("header.css");

:root {
	--green: #044735;
	--dark-green: #1d2624;
	--darkest-green: #001913;

	--normal-font: #000;
	--inverted-font: #fff;

	--normal-background: #fff;
	--button-background: var(--dark-green);

	--header-text: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--normal-font: #fff;
		--inverted-font: #000;
		--normal-background: var(--dark-green);
		--button-background: var(--darkest-green);
	}
}


* {
	font-family: 'Poppins', sans-serif;
	color: var(--normal-font);
}


@media(prefers-reduced-motion: no-preference) {
	html { scroll-behavior: smooth; }
}

body {
	margin: 0;
	background-color: var(--normal-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
}

#content {
	padding: 200px 0 150px 0;
	width: min(1200px, 90%);
	line-height: 1.7;
	margin: auto
}


a { text-underline-offset: 5px; }
p { text-wrap: pretty; }
p, li, a { font-weight: 300; }

#page-title { text-align: center; }

h1, h2, h3 {
	font-weight: 500;
	text-wrap: balance;
}

h1, h2, h3, h4, h5, h6, p:has(>em) {
	margin-block-start: 1em;
	margin-block-end: 0;
	line-height: 1.4;
}

h1[id], h2[id], h3[id] { scroll-margin-top: 40px; }
h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }

ol 			{ list-style-type: decimal; }
ol ol 		{ list-style-type: lower-alpha; }
ol ol ol 	{ list-style-type: lower-roman; }
ol ol ol ol { list-style-type: upper-alpha; }

img {
	width: 95%;
	padding-left: 2.5%;	/* align images in the centre, doesn't affect splashes or resources, just blog posts and homepage */
}

.button {
    display: inline-block;  /* A little odd, but it means all of the buttons are the same width, */
    width: 180px;           /*  regardless of text (as opposed to using padding) */
    padding: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;

    background: var(--button-background);
    color: #fff;

	transition: opacity .15s;
}
.button:hover { opacity: 0.8; }

details {
	padding: 15px;
	background: transparent;

	border: 2px solid var(--normal-font);
	border-left-width: 0;
	border-right-width: 0;
}
details ~ details {
	border-top: none;
}
details a {
	text-decoration: none;
}
details li {
	list-style-type: none;
	line-height: 2.5em;
}
details #TableOfContents > ul > li {
	margin-top: 20px;
}


.hash-link {
	text-decoration: none;
	display: block;
}
.hash-link :is(h1, h2, h3)::after {
	position: absolute;
	margin-left: 10px;
	content: '🔗';
	opacity: 0;
}
.hash-link:hover ::after {
	opacity: 0.8;
}

#paginate-nav { position: relative; }
#paginate-next {
	position: absolute;
	right: 10%;
	text-decoration: none;
}

#paginate-prev {
	position: absolute;
	left: 10%;
	text-decoration: none;
}


@media (max-width: 900px) {
	footer {
		display: flex;
		flex-direction: column-reverse;
	}
}


footer {
	min-height: 200px;
	width: calc(100% - 100px);
	padding: 50px;
	
	display: flex;
	gap: 20px;
	justify-content: center;

	background-color: var(--button-background);
}
	
#footer-info {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#footer-info p {
	color: #fff;
	width: fit-content;
}

#footer-info #footer-title {
	font-size: 2.5rem;
	margin: 0;
}


.socials svg {
	width: 30px;
	height: 30px;
	scale: inherit;
	fill: #fff;
}

.socials a { display: inline-block; padding: 5px; height: fit-content; }
/* Kinda just eyeballed these values */
.socials a:nth-child(1) { margin-right: -10px; }	/* Facebook */
.socials a:nth-child(2) { scale: 1.1; }	/* Instagram */
.socials a:nth-child(3) { scale: 1.1; }						/* Discord */
.socials a:nth-child(4) { scale: 1.2; }						/* Email */
.socials a:nth-child(5) { scale: 1.1; }						/* Linkedin */