@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,700;1,9..40,300;1,9..40,500;1,9..40,700&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
	--green: #044735;
	--dark-green: #1d2624;
	--normal-font: #000;
	--inverted-font: #fff;
	--normal-background: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--normal-font: #fff;
		--inverted-font: #000;
		--normal-background: #1d2624;
	}
}

* {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}


strong { font-weight: 400;}
html { scroll-behavior: smooth;}
ol { 
	list-style-type: decimal;

	ol {
		list-style-type: lower-alpha;
		
		ol {
			list-style-type: lower-roman;
			
			ol {
				list-style-type: upper-alpha;
			}
		}
	}
}

body {
	margin: 0;
	background-color: var(--normal-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 50px
}

#content {
	padding-top: 200px;
	width: min(900px, 90%)
}

header {
	position: absolute;
	padding-top: 20px;
	width: max(850px, 80%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	a {
		text-decoration: none;
		text-underline-offset: 10px;
	}
	
	#hamburger, label {
		display: none;
	}

	div {
		width: fit-content;

		a {
			display: inline-block;
			width: fit-content;

			h1 {
				color: #fff;	/* TODO */
				font-size: 2em;
			}
		}
	}
	
	nav {
		a {
			font-weight: 300;
			color: #fff;	/* TODO */
			
			margin-left: 17px;
		}

		#join {
			font-weight: 500;
			color: var(--normal-font);

			background: var(--normal-background);
			padding: 20px 35px 20px 35px;
			width: initial;
		}
	}
}

@media (max-width: 900px) {		/* This block is all for the hamburger menu */
	header {
		width: 90%;

		flex-direction: row-reverse;
		
		#title-container {		/* Center title */
			z-index: 2;		/* For the effect where it remains in place as the menu fades in, may not be worth the hassle */

			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;

			text-align: center;
		}

		#nav-container {
			z-index: 1;

			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 120%;

			opacity: 0;
			transition: opacity 0.2s;
			pointer-events: none;

			background-color: var(--green);

			nav {
				display: flex;
				flex-direction: column;
				place-items: center;
				justify-content: space-evenly;
				
				height: 75%;
				margin-top: 100px;

				font-size: 1.5em;

				a {
					margin-left: 0;
				}
			}
		}

		#hamburger {
			display: initial;
			opacity: 0;		/* It's invisible but can still be navigated to with the keyboard */
			
			&:focus-visible + label svg {
				outline: auto;
			}
		}

		label {
			z-index: 3;	/* NOTE: Must be on top */
			display: block;
			position: absolute;
			top: 47px;
			right: 0px;


			cursor: pointer;
			
			#close {
				display: none;
			}
			
			svg {
				width: 35px;
				height: 35px;
			}
		}

		#hamburger:checked {
			+ label {
				position: fixed;
				right: inherit;
				
				#open {
					display: none;
				}

				#close {
					display: block;
				}
			}

			~ #nav-container {
				opacity: 1;
				pointer-events: initial;
			}
			
			~ #title-container {
				position: fixed;
			}
		}
	}
}

footer {
	min-height: 200px;
	background-color: var(--dark-green);
	width: calc(100% - 100px);
	padding: 50px;
	
	display: flex;
	gap: 20px;
	justify-content: center;
	
	#search {
		flex: 2;

		.pagefind-ui__form {
			color: #fff;
			background-color: transparent;

			.pagefind-ui__search-input {
				padding: 15px;
				width: calc(100% - 30px);
				
				background-color: inherit;
				border: 1px solid #fff;

				font-weight: 500;
				color: inherit;
				
			}
			
			&:focus-within {
				background-color: var(--normal-background);
				color: var(--normal-font);
				
				.pagefind-ui__results-area {
					padding-bottom: 10px;
				}
			}

			.pagefind-ui__search-clear,		/* Clear button */
			.pagefind-ui__message			/* n results found message */
			{
				display: none;
			}
		}
	}
	
	#details {
		flex: 1;

		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			color: #fff;
			font-size: 3em;
			font-weight: 500;
			margin: 0;
		}
		
		p {
			color: #fff;
		}
		
		#links {
			a {
				width: 30px;
				height: 30px;
				background-color: yellow;
			}
		}
	}

}

@media (max-width: 900px) {
	footer {
		display: flex;
		flex-direction: column-reverse;
	}
}

h1 {
	font-weight: 500;
}

h2 {
	font-weight: 700;
	font-size: 2em;
}

p {
	font-weight: 300;
}

.button {
    display: inline-block;  /* A little odd, but it means all of the buttons are the same width, */
    width: 180px;           /*  regardless of text (as opposed to using padding */
    padding: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;

    background: var(--dark-green);
    color: #fff;
			
	transition: opacity .15s;

	&:hover {
		opacity: 80%;
	}
}