header {
	position: absolute;
	padding-top: 20px;
	width: max(850px, 80%);

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

header div  {
	width: fit-content;
}

header a {
	color: var(--header-text);
	display: inline-block;
	width: fit-content;
	text-decoration: none;
}

#title-container a {
	font-size: 2rem;
	font-weight: 500;
}

nav a {
	text-underline-offset: 10px;
	margin-left: 17px;
}

#join {
	filter: invert();
	padding: 20px 35px;
	width: initial;
	text-shadow: none;
}

#hamburger {
	display: none;
}

@media (max-width: 900px) {
	/* 
		The rest is for the hamburger menu
		

		It works by reshaping the nav, and putting it on top of everything, but it's invisible and
		  uninteractable until the user clicks the hamburger button. That adds a class to the header,
		  which shows the menu.
	*/

	header {
		width: 90%;
		flex-direction: row-reverse;
		z-index: 1;
	}
	
	#title-container {
		z-index: 3;		/* For the effect where it remains in place as the menu comes in */

		position: absolute;
		top: 20px;
		left: 0;
		width: 100%;

		text-align: center;
		transition: color 0.2s;
	}

	#nav-container {
		z-index: 2;

		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 120%;
		/* Sometimes mobile taskbars can cause height to fall a little short. Some of the new units
			will probably fix this, but they're not supported enough at time of writing */

		opacity: 0;
		pointer-events: none;	/* It's laying over everything now, so click through as if it wasn't there */

		background-color: var(--green);
	}

	header nav {
		display: flex;
		flex-direction: column;
		place-items: center;
		justify-content: space-evenly;
		
		height: 75%;
		margin-top: 100px;

		font-size: 1.5em;
	}
	header nav a { margin-left: 0; }


	#hamburger {
		z-index: 4;	/* NOTE: Must be on top, otherwise the user will click through to the title instead
						 (which links to the homepage), this is because the title spans the full width */
		display: block;
		position: absolute;
		top: 47px;
		right: 0px;
	}
	
	#hamburger button {
		background-color: transparent;
		border: none;
	}

	#hamburger svg {
		width: 35px;
		height: 35px;
		fill: var(--header-text)
	}
	#open { display: block; }
	#close { display: none; }
	

	/* The expanded class is added via js when the user clicks the hamburger */
	/* It also shows the menu if the focus is in the nav, but it doesn't show the exit button in
		that case as it won't do anything */

	header.expanded, #nav-container:focus-within ~ #title-container { position: fixed; --header-text: #fff; }

	header.expanded #open, #nav-container:focus-within ~ #hamburger #open { display: none; }
	header.expanded #close { display: block; }
	#nav-container:focus-within ~ #hamburger #closed { visibility: hidden; }

	header.expanded #nav-container, #nav-container:focus-within {
		opacity: 1;
		pointer-events: initial;
	}
	header.expanded a,
	#nav-container:focus-within ~ a { text-shadow: none; }

	body:has(header.expanded, #nav-container:focus-within) {
		overflow-y: hidden;
	}
}


/*
	I wanted the menu to fade in, but unfortunately I couldn't find a way without
		1. Using js
		2. Having the menu fade in then pop out as it transitions from a nav bar to a hamburger 
			menu and transitions are added from the media query (see the commented section below)
			
	It's frustrating
*/


/* @media (prefers-reduced-motion: no-preference) {	
	#nav-container {
		transition: opacity 0.2s ease-in;
	}
}

@media (prefers-reduced-motion: no-preference) {
	header #title-container a {
		transition: text-shadow 0.2s;
	}
} */