#home-grid {
	display: grid;
  place-items: center center;
  place-content: start center;
  grid-gap: 25px 100px;
  
  padding: 100px 0;
  width: max(70%, 2000px);
  max-width: 90%;

  color: var(--normal-font);
}

#home-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-grid h2 {
  font-size: 2.5em;
}


#email form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#email input[type=email] {
  padding: 15px;
  display: inline;
}

#email input[type=submit] {
  display: inline;
  width: 100px;
  border: none;
}

#mce-responses {
  padding-top: 10px;
}


#recent-blogs {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;

  background-color: var(--green);
}
  
#recent-blogs ul {
  display: flex;
  flex-flow: column wrap;

  overflow: hidden;
  gap: 10px 100px; /* This is a hack to hide list elements rather than clipping partway though the text*/
  height: 100%;

  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;
  color: #fff;
  
}

#recent-blogs li {
  width: 100%;
  margin: -10px 0;
}

#recent-blogs h2 {
  font-weight: 300;
  margin-bottom: 0;
}

#recent-blogs a {
  text-decoration: none;
  color: #fff;
}

#recent-blogs p {
  margin-top: 0;
  font-weight: 300;
  opacity: 0.7;
  color: #fff;
}


@media (max-width: 900px) {     /* Media queries are jank and I hate them, and I hate myself for using them, */
  #home-grid {                  /* and this is definitely jank. Sorry to anyone who has to maintain this */
    grid-template-areas: "a" "b" "c" "d" "e" "f" "h" "i";
    > :nth-child(1) { grid-area: a}
    > :nth-child(2) { grid-area: b}
    > :nth-child(3) { grid-area: d}
    > :nth-child(4) { grid-area: c}
    > :nth-child(5) { grid-area: e}
    > :nth-child(6) { grid-area: f}
    > :nth-child(7) { grid-area: i}
    > :nth-child(8) { grid-area: h}
  }
    
  #home-grid img { max-height: 300px; padding-left: unset; }
  #home-grid > div { width: 80%; }
  #home-grid #recent-blogs { width: 100%; }   /* This div is special */
}

@media (min-width: 900px) {
  #home-grid {
    grid-template-columns: minmax(200px, 500px) minmax(200px, 500px);
    grid-template-rows: 1fr 1fr minmax(0, 0.75fr) 0.5fr;    /* minmax so it doesn't stretch to fit the content and thus distort the grid */
    grid-template-areas: "a b" "c d" "e f" "h i";
  }
  
  #home-grid > div:nth-child(odd) {
      padding-inline-start: 50px;
  }

  #email form {
    width: 120%; /* Based on nothing, it just seemed to work */
  }
}