mark {
	background-color: transparent;	/* I couldn't find a colour that worked */
	outline: 1px dashed var(--normal-font);
	outline-offset: 2px;
}

/* It's kinda a nightmare here */

#search {
	flex: 2;
}

.pagefind-ui__form {
	color: #fff;
	background-color: transparent;
}
	
.pagefind-ui__form::before {
	content: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M344.5,298c15-23.6,23.8-51.6,23.8-81.7c0-84.1-68.1-152.3-152.1-152.3C132.1,64,64,132.2,64,216.3 c0,84.1,68.1,152.3,152.1,152.3c30.5,0,58.9-9,82.7-24.4l6.9-4.8L414.3,448l33.7-34.3L339.5,305.1L344.5,298z M301.4,131.2 c22.7,22.7,35.2,52.9,35.2,85c0,32.1-12.5,62.3-35.2,85c-22.7,22.7-52.9,35.2-85,35.2c-32.1,0-62.3-12.5-85-35.2 c-22.7-22.7-35.2-52.9-35.2-85c0-32.1,12.5-62.3,35.2-85c22.7-22.7,52.9-35.2,85-35.2C248.5,96,278.7,108.5,301.4,131.2z'/%3E%3C/svg%3E");

	position: absolute;
	margin-top: 16px;
	margin-left: 15px;

	width: 25px;

	filter: invert() brightness(0.5);
}

.pagefind-ui__search-input {
	padding: 15px;
	padding-left: 50px;
	padding-right: 15px !important; /* Pagefind inserts padding-right: 2px. It's irritating */
	width: calc(100% - 65px);
	
	background-color: inherit;
	border: 1px solid #fff;

	font-weight: 500;
	color: inherit;
}

.pagefind-ui__search-input:not(:placeholder-shown), .pagefind-ui__search-input:focus-visible {
	background-color: var(--normal-background);
	color: var(--normal-font);
	border: none;
}

.pagefind-ui__results-area {
	margin-top: -10px;

	background-color: var(--normal-background);
	color: var(--normal-font);
}

#search a {
	background-color: var(--normal-background);
	color: var(--normal-font);
	text-decoration: none;
	font-weight: 500;		/* TODO: This and above in this css file are the only place I use 500 font weight, could probably cut it for faster loading */
}

.pagefind-ui__results {
	padding: 10px 30px;

	list-style: none;
}
 
.pagefind-ui__result {
	border-top: 2px solid var(--normal-font);
}
.pagefind-ui__result:first-child {
	border: none;
}
.pagefind-ui__result > .pagefind-ui__result-inner > .pagefind-ui__result-title {
	font-size: 1.2em;
}
.pagefind-ui__result-nested {
	margin-left: 10px;
}

.pagefind-ui__button {		/* Load more results button */ /* Wish I could give it my button class */
	margin: 0 0 30px 30px;
	border: none;
	background: var(--button-background);
	padding: 15px;
	color: #fff;
}

.pagefind-ui__search-clear,		/* Clear button */
.pagefind-ui__message			/* n results found message */
{
	display: none;
}