#splash {
	width: 100%;
	height: 600px;
}

#splash img {
	width: 100%;
	height: 100%;
	padding: initial;
	object-fit: cover;
	object-position: center;
}
	
#page-title {
	margin: -300px 0 50px 0;
	color: #fff;
	text-shadow: 0 0 5px #000, 0 0 10px #000;
}

#title-container a { text-shadow: 0 0 5px #000, 0 0 10px #000; }
nav a {	text-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 10px #000, 0 0 10px #000; }
#open svg {	filter: drop-shadow(0 0 10px #000) drop-shadow(0 0 10px #000); }