{{ define "head" }}
	{{ partial "head" . }}
	<style>
		body {
			background-color: var(--green);
		}
		
		#content a {
			text-decoration: none;
			color: #fff;
		}

		#content p {
			color: #fff;
		}

		#content h2 {
			margin: 0 0 80px 0;
			color: #fff;
		}
	</style>
{{ end }}

{{ define "main" }}
	<section id="content">
		{{ range .Paginator.Pages.ByPublishDate.Reverse }}
			<p>{{ .PublishDate | dateFormat "02/01/06"}}</p>
			<a href="{{ .Permalink }}" ><h2>{{ .Title }}</h2></a>
		{{ end }}

		<div id="paginator-nav">
			{{ if .Paginator.HasNext }}
				<a id="paginate-next" href="{{ .Paginator.Next.URL }}">Older Posts ⟶</a>
			{{ end }}
			{{ if .Paginator.HasPrev }}
				<a id="paginate-prev" href="{{ .Paginator.Prev.URL }}">⟵ Newer Posts</a>
			{{ end }}
		</div>
	</section>
{{ end }}