{{ define "head" }}
  {{ partial "head.html" . }}
  <meta name="description" content="{{ .Content }}">
  <style>
    body {
      background-color: var(--green);
      --normal-font: #fff;
    }
      
  </style>
{{ end }}

{{ define "main" }}
  <article id="content" data-pagefind-body>
    <h2>{{ .Title }}</h2>
    <p>{{ .Content }}</p>
  </article>
{{ end }}