{{ define "head" }}
	{{ partial "head" . }}

	<style>
		#content {
			padding-top: 50px;
			width: min(900px, 90%);
		}
		body #splash img {
			object-position: 0 -30px;
		}
	</style>
	<link rel="stylesheet" href="/css/splash.css" fetchpriority="high">

{{ end }}

{{ define "main" }}
	<div id="splash">
		<img src="/images/about_splash.jpg" alt="" fetchpriority="high"> <!-- Dietmar Rabich / Wikimedia Commons / “Haltern am See, Hohe Mark -- 2020 -- 6883” / CC BY-SA 4.0		https://commons.wikimedia.org/wiki/User:XRay		https://commons.wikimedia.org/wiki/Main_Page		https://commons.wikimedia.org/wiki/File:Haltern_am_See,_Hohe_Mark_--_2020_--_6883.jpg		https://creativecommons.org/licenses/by-sa/4.0/ -->
		<h2 id="page-title">About Us</h2>
	</div>
	<article id="content" data-pagefind-body>
		{{ .Content }}
	</article>
{{ end }}