<!DOCTYPE html>
<html lang="en-nz">
	<head>
		{{ block "head" . }}
			{{ partial "head.html" . }}	
		{{ end }}
	</head>
	<body>
		{{ block "header" . }}
			{{ partial "header.html" . }}
		{{ end }}
		{{ block "main" . }}
			<div id="content">
				{{ .Content }}
			</div>
		{{ end }}
		{{ block "footer" . }}
			{{ partialCached "footer.html" . }}
		{{ end }}
	</body>
</html>