{{ define "head" }}
	{{ partial "head" . }}

	<style>
		body {
			background-color: var(--green);
		}
		
		#content {
			display: flex;
			flex-direction: column;
			align-items: center;
			--normal-font: #fff
		}
		
		#content .socials {
			position: relative;
			left: min(0px, 2% - 16px);
			/* This is such a tiny detail, but it really makes a difference for narrow windows, and especially on mobile */
		}

		#content .socials svg {
			height: 50px;
			width: 50px;
			padding: 10px;
		}
	</style>
{{ end }}


{{ define "main" }}
	<section id="content" data-pagefind-body>
		<h2>Contact</h2>
		{{ partialCached "socials.html" . }}
		<a href="{{ .Param "equity_form" }}"><h3>Equity Form</h3></a>
	</section>	
		
{{ end }}