{{ define "head" }}
	{{ partial "head.html" . }}

	<style>
		body {
			background-color: #000;
			--normal-font: #fff;
		}

		#main {
			display: flex;
			flex-wrap:wrap;
			justify-content: center;
			gap: 100px;
		}
			
		#main div {
			max-width: 500px;
		}
		
		#main img {
			width: 100%;
		}

		#contact {
			padding-top: 50px;
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
		}
		
	</style>
{{ end }}
{{ define "main" }}
	<article id="content" data-pagefind-body>
		<h2 id="page-title">Sponsorship</h2>
		<div id="main">
			<div>
				<img src="/images/sponsorship.jpg" alt=""> <!-- Dietmar Rabich / Wikimedia Commons / “Dülmen, Kirchspiel, Börnste, Pfad bei Nacht -- 2021 -- 2379” / CC BY-SA 4.0		https://commons.wikimedia.org/wiki/User:XRay		https://commons.wikimedia.org/wiki/Main_Page		https://commons.wikimedia.org/wiki/File:D%C3%BClmen,_Kirchspiel,_B%C3%B6rnste,_Pfad_bei_Nacht_--_2021_--_2379.jpg		https://creativecommons.org/licenses/by-sa/4.0/ -->
				{{ .Param "left-block" | markdownify }}
			</div>
			<div>
				{{ .Param "right-block" | markdownify }}
			</div>
		</div>
		<div id="contact">
			{{ .Param "end-block" | markdownify }}
		</div>
	</article>
{{ end }}
{{ define "footer" }}
	<!-- No footer -->
{{ end }}