<footer>
	{{/* https://pagefind.app/docs/ */}}
	<script src="/pagefind/pagefind-ui.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			new PagefindUI({ 
				element: "#search",
				showSubResults: true,
				showImages: false
			});
		});
	</script>
	<div id="search"> </div>
	<div id="details">
		<h2>
			Vic Debsoc
		</h2>
		<p>
			{{ .Param "meeting_details" }}
		</p>
		<div id="socials">
			<a href="{{ .Param "facebook" }}"><img src="">a</a>
			<a href="{{ .Param "instagram" }}"><img src="">b</a>
			<a href="{{ .Param "discord" }}"><img src="">c</a>
			<a href="{{ .Param "email" }}"><img src="">d</a>
		</div>
	</div>
</footer>