<footer>
	{{/* https://pagefind.app/docs/ */}}
	<script defer src="/pagefind/pagefind-ui.js"></script>
	<script>
		window.addEventListener('DOMContentLoaded', (event) => {
			new PagefindUI({ 
				element: "#search",
				showSubResults: true,
				showImages: false,
				resetStyles: false
			});
		});
	</script>
	<div id="search"> </div>
	<div id="footer-info">
		<p id="footer-title">
			Vic Debsoc
		</h2>
		<p>
			{{ .Param "meeting_details" }}
		</p>
		{{ partialCached "socials.html" . }}
	</div>
</footer>