<title>{{ if not .IsHome }}{{.Title}} — {{ end }}Vic Debsoc</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Vic Debsoc">
<meta name="og:image" content="/images/logo.png">
<meta name="og:image:alt" content="poi_guy">
<meta name="color-scheme" content="light dark">
<link rel="icon" href="/icons/favicon.ico" type="image/gif">

<link rel="stylesheet" href="/css/base.css">

<meta data-pagefind-meta="title[value]" value="{{ .Title }}">