{{ define "partials/nav-links.html" }}
	{{ $currentPage := .context }}					{{/* This is all for that underline highlighting the current section	 */}}
	{{ $path := .context.Site.GetPage .path }}

	{{/* Set them all to the same tabindex so it goes in document order */}}
	<a href='{{ ref .context .path }}' tabindex="2"
		{{ if and 
			(not $currentPage.IsHome) 
			(or 
				(eq $path $currentPage) 
				($path.IsAncestor $currentPage)) }}
			
			style="text-decoration: underline"
		{{ end }}
	>{{ substr .path 1 | title }}</a>
{{ end }}


<header>
	<div id="nav-container">			{{/* I need to have the nav first so I can use the subsequent sibling combinator ~ in the css		*/}}
		<nav>
			{{ partial "nav-links.html" (dict "context" . "path" "/about") }}
			{{ partial "nav-links.html" (dict "context" . "path" "/resources") }}
			{{ partial "nav-links.html" (dict "context" . "path" "/events") }}
			{{ partial "nav-links.html" (dict "context" . "path" "/blog") }}
			{{ partial "nav-links.html" (dict "context" . "path" "/sponsorship") }}
			{{ partial "nav-links.html" (dict "context" . "path" "/contact") }}
			<a href="{{ .Param "signup_link" }}" id="join" class="button">Join</a>
		</nav>
	</div>
	<div id="title-container">
		<a href="/" tabindex="1">Vic Debsoc</a>
	</div>
	<div id="hamburger">
		<button id="open"  aria-hidden="true" tabindex="-1" onclick="document.getElementsByTagName('header')[0].classList.add('expanded')">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 384h384v-42.67H64zm0-106.67h384v-42.66H64zM64 128v42.67h384V128z"/></svg>
		</button>
		<button id="close" aria-hidden="true" tabindex="-1" onclick="document.getElementsByTagName('header')[0].classList.remove('expanded')">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M400 145.49L366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49z"/></svg>
		</button>
	</div >
</header>