{{ define "main" }}
  <div class="container">
    <h2>404</h2>

    <p><strong>Page not found :(</strong></p>
    <p>The slackers that maintain this website are probably at Bristol.</p> {{/* This isn't funny */}}
    <p>Why not use this time to do some practice preps, or go <a href="/">home?</a></p>
  </div>
{{ end }}

{{ define "head" }}
  {{ partial "head.html" . }}

  <style type="text/css" media="screen">
		@media (prefers-color-scheme: light) {
			:root {
				--header-text: #000;
			}
		}

    .container {
      margin: 150px 0 100px 0;
      text-align: center;
    }

    .container h2 {
      margin: 10px 0;
      font-size: 10em;
    }
  </style>
{{ end }}