{{ define "head" }}
	{{ partial "head" . }}

	<style>
		#content {
			width: min(900px, 90%);
			padding-top: 50px;
		}
			
		#main {
			display: flex;
			flex-wrap: wrap;
			gap: 100px;
		}
		
		#region-dropdown {
			width: 100%;
			padding: 15px;
			background: transparent;

			border: 2px solid var(--normal-font);
			border-left-width: 0;
			border-right-width: 0;
		}

		.entry-container {
			display: flex;		/* Technically not necessary as it gets set by update() */
			flex-direction: row;
			gap: max(30px, 10%);

			width: 100%;

			text-decoration: none;
			color: var(--normal-font);
		}

		.entry-container time {
			display: inline-block;
			flex-shrink: 0;
			width: min(150px, 30%);		/* This way all of the boxes shrink at the same rate */
			height: 150px;

			text-align: center;
			background: black;
		}
		.entry-container time .day {
			font-size: 3em;
			margin-top: 20px;
			color: #fff;
		}
		.entry-container time .month {
			font-size: 1em;
			margin-top: -60px;
			color: #fff;
		}
		
		.entry-container .details {
			margin-top: -25px;
		}
	</style>
	<link rel="stylesheet" href="/css/splash.css" fetchpriority="high">

	<script>
		function update() {
			const region = document.getElementById('region-dropdown').value;
			document.querySelectorAll('.entry-container').forEach((x) => {
				if (x.getAttribute('data-region') === region || region === "Any") {
					x.style.display = "flex";
				}
				else {
					x.style.display = "none";
				}
			});
			sessionStorage.setItem("region", region)
		}
		

		window.addEventListener("DOMContentLoaded", (_) => {
			// Preserve the selection across paginated pages. Otherwise it's very irritating
			// It can lead to weirdness where no items are shown, but I'm assuming there will be a 
			//   mix of different regions, so it shouldn't matter
			if (document.getElementById('region-dropdown').value && sessionStorage.getItem("region")) {
				document.getElementById('region-dropdown').value = sessionStorage.getItem("region");
				console.log(sessionStorage.getItem("region"))
			}

			// Make sure the visible content matches what's selected
			update();
		});
	</script>
{{ end }}


{{ define "main" }}
	<div id="splash">
		<img src="/images/events_splash.jpg" alt="" fetchpriority="high">
		<h2 id="page-title">Events</h2>	
	</div>
	<section id="content">
		<div id="main">

			{{/* Filter out all the events in the past */}}
			{{/* Unfortunately I can't find a good way to use expiryDate that lets me leave it up for a small time after it's expired, and there's no good way to do math to increment the expiry date*/}}
			{{/* The reason I want to extend the expiry date for a week or so past the end date is in case people need to check out the accomo details for example, in case they left something*/}}		   

			{{ $nonExpiredEvents := slice }}		{{/* Unfortunately this can't be in the head because reasons*/}}
			{{ range .Pages }}												    
				{{ if .Params.endDate }}									    
					{{ if ge (time .Params.endDate) (now.AddDate 0 0 -7) }}		 
						{{ $nonExpiredEvents = $nonExpiredEvents | append . }}	 
					{{ end }}
				{{ else }}
					{{ if ge (time .Params.startDate) (now.AddDate 0 0 -3) }}		
						{{ $nonExpiredEvents = $nonExpiredEvents | append . }}				
					{{ end }}
				{{ end }}
			{{ end }}

			{{ if ne (len $nonExpiredEvents) 0 }}
				<select id="region-dropdown" onchange="update()">
					<option value="Any" selected disabled>Filter by location</option>
					<option value="Any">Any Location</option>
					<option value="Wellington">Wellington</option>
					<option value="New Zealand">New Zealand</option>
					<option value="International">International</option>
					<option value="Online">Online</option>
				</select>

				{{ range (.Paginate $nonExpiredEvents).Pages.ByParam "startDate" }}
					<a class="entry-container" href="{{ .Permalink }}" data-region="{{ .Params.region }}">
						<time datetime="{{ .Params.startDate }}">
							<p class="day">{{ .Params.startDate | time.AsTime | time.Format "02" }}</p>
							<p class="month">{{ .Params.startDate | time.AsTime | time.Format "January" }}</p>
						</time>
						<div class="details">
							<h3>{{ .Title }}</h3>
							<p>{{ .Summary }}</p>
						</div>
					</a>
				{{ end }}
			{{ else }}
				<h3>We don't have anything planned at the moment</h3>
				<p style="margin-top: -70px">Why don't you organise a costume party?</p>
			{{ end }}

			<!-- I chose not to make this a partial because I wanted to change the text here -->
			<div id="paginator-nav">
				{{ if .Paginator.HasNext }}
					<a id="paginate-next" href="{{ .Paginator.Next.URL }}">Later Events ⟶</a>
				{{ end }}
				{{ if .Paginator.HasPrev }}
					<a id="paginate-prev" href="{{ .Paginator.Prev.URL }}">⟵ Earlier Events</a>
				{{ end }}
			</div>
		</div>
	</section>
{{ end }}