{{ define "head" }}
  {{ partial "head.html" . }}

  <meta name="description" content="{{ .Title }} ⸺ {{ .Params.startDate }}{{if .Params.endDate}} – {{ .Params.endDate }}{{ end }}">

  <style>
		@media (prefers-color-scheme: light) {
			:root {
				--header-text: #000;
			}
		}
    
    #content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 100px;
    }

    #details { flex: 20%; }
    
    #main { flex: 50%; }

  </style>
{{ end }}

{{ define "main" }}
  <article id="content" data-pagefind-body>
    <section id="details">
      <h2>{{.Title}}</h2>
      <time datetime="{{.Params.startDate}}">{{ (time .Params.startDate).Format "Monday, 2 January 2006, 15:04" }}</time>
      {{ if .Params.endDate }}
        {{ if eq ((time .Params.startDate).Format "2006-01-02") ((time .Params.endDate).Format "2006-01-02") }}
          – <time datetime="{{.Params.endDate}}">{{ (time .Params.endDate).Format "15:04" }}</time>
        {{ else }}
          <br>–<br>
          <time datetime="{{.Params.endDate}}">{{ (time .Params.endDate).Format "Monday, 2 January 2006, 15:04" }}</time>
        {{ end }}
      {{ end }}
      <br><br>
      <p>{{ .Params.region }}{{ if .Params.location }} – {{ .Params.location }}{{ end }}</p>
    </section>
    <section id="main">
      <p>{{.Content}}</p>
    </section>
  </article>
{{ end }}